@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    font-family: Poppins;
    background-color: #e0c445;
}
.demo{
    width: 100%;
    height: 100%;
}

.mainCard{
    border-radius: 40px;
    text-align: center;
    display: block;
    margin: 60px auto;
    background-color: white;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
    width: 90%; 
    -webkit-animation-name: mainCard;
    animation-name: mainCard;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes mainCard{
    0%{
        transition: scale(0);
    } 
}
@keyframes mainCard{
    0%{
        transition: scale(0);
    } 
}
.mainCardHeader {
    border-radius: 40px;
    background-color: rgb(180, 43, 43);
    height: 100px;
    width: 100%;
    -webkit-animation-name: mainCardHeader;
            animation-name: mainCardHeader;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  
  @-webkit-keyframes mainCardHeader {
    0% {
      transform: scaleY(0);
    }
  }
  
  @keyframes mainCardHeader {
    0% {
      transform: scaleY(0);
    }
  }

  .mainCardContent {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -50px;
    height: 100%;
    width: 90%;
  }
  
  .miniCard {
    cursor: pointer;
    transition: 0.4s;
    display: inline-block;
    padding: 5px;
    margin: 0 20px 20px 0;
    background-color: white;
    height: 180px;
    width: 180px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    -webkit-animation-name: miniCard;
            animation-name: miniCard;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  
  @-webkit-keyframes miniCard {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes miniCard {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }


  }
  .miniCard:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.20);
      background-color: #e0c445;
      height: 170px;
      width: 170px;
  }