<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../estilo/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imagem">
                <img class="logo" src="../media/logo normal.jpeg" alt="">   
            </div>
            <div class="contem">
                <form class="form" id="form" action="../controller/login.php" method="POST">
                    <div class="form-control ">
                        <label for="userUsuario">Usuario:</label>
                        <input type="email" id="userUsuario" name="userUsuario">
                        <i><img class="img-success" src="../icones/success-icon.svg" alt=""></i>
                        <i><img class="img-error" src="../icones/error-icon.svg" alt=""></i>
                        <small>Error messagem</small>
                    </div>

                    <div class="form-control ">
                        <label for="senhaUsuario">Senha:</label>
                        <input type="password" id="senhaUsuario" name="senhaUsuario">
                        <i><img class="img-success" src="../icones/success-icon.svg" alt=""></i>
                        <i><img class="img-error" src="../icones/error-icon.svg" alt=""></i>
                        <small>Error messagem</small>
                    </div>

                    <button type="submit"  ondblclick="checkInputs()" >ENTRAR</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>